@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.animate-heartBeat {
  animation: heartBeat 0.8s ease-in-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}
.animate-pulse-slow {
  animation: pulse 3s ease-in-out infinite;
}

/* CSS cho bông hoa */
.flower {
  position: relative;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  animation: flowerPoint 3s ease-in-out infinite alternate;
}

.flower-pointing {
  transform: rotate(0deg); /* Điều chỉnh hướng để chỉa sang phải */
}

.flower-stem {
  position: absolute;
  width: 10px;
  height: 1px;
  background: linear-gradient(to right, transparent, #a78bfa);
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.petal {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 40% 70% 70% 40%;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.flower-pointing .petal-1 {
  top: 0;
  left: 3.5px;
  transform: rotate(-45deg);
}

.flower-pointing .petal-2 {
  top: 3.5px;
  right: 0;
  transform: rotate(27deg);
}

.flower-pointing .petal-3 {
  bottom: 0;
  right: 3.5px;
  transform: rotate(99deg);
}

.flower-pointing .petal-4 {
  bottom: 3.5px;
  left: 0;
  transform: rotate(171deg);
}

.flower-pointing .petal-5 {
  top: 3.5px;
  left: 0;
  transform: rotate(243deg);
}

.flower-center {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffd166;
  border-radius: 50%;
  top: 4px;
  left: 4px;
}
@keyframes flowerPoint {
  0% {
    transform: rotate(-5deg) translateX(0);
  }
  100% {
    transform: rotate(5deg) translateX(2px);
  }
}
